@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@400;500;600&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes spin-slow {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(20deg);
  }

  50% {
    transform: rotate(0deg);
  }

  75% {
    transform: rotate(-20deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.animate-spin-slow {
  animation: spin-slow 2s linear infinite;
}
